.encabezado{@include flex( space-between, center,row, row);
        padding: 10px;
width: 100%;};
.encabezado-fluid{@include flex(center,center,null,null);
      
    &-a{display: flex;
        min-width: 80px;
        min-height: 50px};}

nav{display: flex;}

.carousele{@include flex(center, center, null, null)};

.list{@include flex(null, null, column, 2rem);
        font-size: $font-xsmall;};

.list{@include flex(center,center,column,null)}

.nav1{@include flex(center, center, row, 2rem)
        }

.nav{ @include flex(center,center,row,2rem)}
.nav-items{
        font-size: $font-small;
        font-family:'Roboto Mono', monospace;
        font-weight: bold;
        border-bottom: 1px solid white;
        transition: all 0.5s ease;
        justify-content: center;
        text-decoration: none;
        color:black;
        margin-right: 5px;
        
};
.nav-items:hover{ border-color: aquamarine;};

.banner{@include flex-more(1200px,2rem auto, 1rem, center)};



.container{max-width: 1100px;
        margin:0 auto;}


 .back{padding: 32px 0;}       

 .navb{border: 1px solid red;
        height: 48px;
        padding: 10px 12px;
        position: relative;}

.checkbox, .icons{
        position: absolute;
        top: 10px;
        right: 12px;
        cursor: pointer;
        width: 24px;
        height: 24px;
}
.icons{pointer-events: none;
        font-size: 24px;}
.checkbox{opacity: 0;
}
.fi-sr-cross{display: none;}
.checkbox:checked ~ .fi-rr-menu-burger{display: none;}
.checkbox:checked ~ .fi-sr-cross{display: block;}
.menu{border: 1px solid red;
        width: 200px;
        position: absolute;
        top: 48px;
        right: 0px;
        display: none;
        transition: 250ms;
        ;}

.menu li{list-style: none;}
.menu li a{text-decoration: none;
                color: inherit;
                display: block;
                padding: 10px 12px;}
.menu-icono{width: 100px;
        align-items: center;}
.menu li a:hover{background-color: aqua;}
.checkbox:checked ~ .menu{top: 48px;}

.menu a{height: 48px;
        padding: 14px 12px 6px;}
