.music {@include flex(center,center,center,null);
        
        }
.music-img-1 { @include music(center,1.5rem,100%,center,auto,center);
        width: 70%;
        height: 70%;
        min-width: 300px;
        }
.music-tittle{@include music(center,2rem,100%,center,null,center)};

.music-text{@include music(center, 0.5rem,null,null,null,center);
                color:grey;
                font-family: 'Rubik', sans-serif;
                font-size: $font-medium;
                text-align: center};
.music-img{@include music(center, 1.5rem,70%,center,auto,center);
                min-width: 300px;}
.music-spot{color: rgb(76, 241, 76);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}