.art-price{
    font-size: $font-medium;
    font-weight: bold;
};
.button-price{
    border: none;
    background-color: black;
    color: #ffffff;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;}

    .card{padding: 1rem;};